# Игнорируем содержимое подпакетов, чтобы они не попадали в основной репозиторий
packages/*/*

# Но оставляем возможность хранить собственные .git и .gitignore внутри пакетов
!packages/**/.git
!packages/**/.gitignore

# ignore python cache
__pycache__

# ignore model cache
model_cache

# ignore dataset
datasets
dataset_for_training.zip

# ignore prompts
prompts

# ignore output
output

# ignore csv reports
*.csv
