[submodule "release_tool"]
	path = tools/release_tool
	url = https://github.com/VLMHyperBenchTeam/release_tool.git
[submodule "packages/bench_utils"]
	path = packages/bench_utils
	url = https://github.com/VLMHyperBenchTeam/bench_utils.git
[submodule "docs_site"]
	path = docs_site
	url = https://github.com/VLMHyperBenchTeam/VLMHyperBenchDocs.git
[submodule "tools/plantuml-docker-renderer"]
	path = tools/plantuml-docker-renderer
	url = https://github.com/VLMHyperBenchTeam/plantuml-docker-renderer.git
[submodule "VLMHyperBench"]
	path = VLMHyperBench
	url = https://github.com/VLMHyperBenchTeam/VLMHyperBench.git
[submodule ".kilocode"]
	path = .kilocode
	url = https://github.com/medphisiker/vlmhyperbench_rules.git
