[submodule "docs_site"]
	path = docs_site
	url = https://github.com/VLMHyperBenchTeam/VLMHyperBenchDocs.git
[submodule "VLMHyperBench"]
	path = VLMHyperBench
	url = https://github.com/VLMHyperBenchTeam/VLMHyperBench.git
